<a href="https://colab.research.google.com/github/J-saderr/ToolsForDataScience/blob/main/DataScienceEcoSystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 2: Create markdown cell with title of the**

<h1>Data Science Tools and Ecosystem</h1>

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective**
<ul>
    <li>List popular languages that Data Scientists use.</li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>Comment on Data Science tools.</li>
</ul>

**Exercise 4 - Create a markdown cell to list data science languages**

List popular languages for Data Science
1. Python
1. R
1. SQL

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the libraries of Data Science:
1. Pandas
1. Numpy
1. Seaborn

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

Data Science Tools:

<table style="width:100%">
  <tr>
    <th>Data Science Tools</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>RStudio</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Apache Spark</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>BigML</td>
    <td></td>
    <td></td>
  </tr>
</table>

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**


<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

**Exercise 8 - Create a code cell to multiply and add numbers**

In [ ]:
(3*4)+5
# This will convert 200 minutes to hours by diving by 60

17

**Exercise 9 - Create a code cell to convert minutes to hours**

In [ ]:
(200/60)
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Exercise 10 - Insert a markdown cell to list Objectives**

In excercise 3.

**Exercise 11 - Create a markdown cell to indicate the Author's name**

<h2> Author</h2>
Thao